name: AutoTrade
on:
  schedule:
    - cron: '*/5 * * * *' # تشغيل كل 5 دقائق
  workflow_dispatch: # زر التشغيل اليدوي

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: pip install yfinance pandas python-telegram-bot

      - name: Run Bot
        run: python pro_stock_bot.py
